<a href="https://colab.research.google.com/github/musicjae/Algorithms/blob/master/Doit_algorithm/1_Intro_to_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 알고리즘 기초

알고리즘: 어떤 문제를 해결하기 위해 정해 놓은 일련의 절차

#### 실행 구조의 종류  
 - sequential structure  
  > 한 문장씩 **순서대로** 처리 
 - select structuce  
  > 조건식으로 평가한 결과에 따라 실행되는 구조

#### Structured Programming  
 > 입력,출력 계층을 구성 요소로 배치하고, 순차, 선택, 반복을 이용하여 프로그램 흐름을 제어하는 구조.

In [ ]:
print('이름을 입력하세요: ',end='')
name = input()
print(f'안녕하세요? {name} 님.')

이름을 입력하세요: 제임스
안녕하세요? 제임스 님.

In [ ]:
name=input('이름을 입력하세요: ')
print(f'안녕하세요? {name} 님.')

이름을 입력하세요: 제임스
안녕하세요? 제임스 님.

## 1.2 Type Conversion

형변환이라고 번역되는 듯 하다. 가령, 2 진수를 10 진수로, 16 진수를 10 진수로 바꿀 때 사용된다. 도착진수는 항상 10진수.

In [ ]:
int('0b110',2) # 2진수 문자열 --> 10진수 정수열

6

In [ ]:
int('0x3F',16)

63

## 1.3 최대값 구하기

최대값을 구할 때는 먼저 비교 대상들 중 어느 하나를 최대라고 둔다.

In [ ]:
def max_value(a,b,c):

    maxv = a # 일단 셋 중 하나를 최댓값이라고 설정
    if b > maxv:
        maxv = b
    elif c > maxv: maxv = c

    return maxv

print(max_value(3,2,1))

3

## 1.4 중앙값median 구하기

In [ ]:
def median_value(a,b,c):
    if (a >= b) or (b <= c):
        return b
    elif (b >= c) or (a <= c):
        return c
    elif (b >= a) or (c <= a):
        return a

print(median_value(3,2,1))

2

## 1.5 부호 출력하기

In [ ]:
n = int(input())

if n>0:
    print('양수입니다')
elif n<0:
    print('음수입니다')
elif n==0:
    print('0입니다.')

-3
음수입니다

## 1.6 반복 알고리즘

In [ ]:
import time.time


print('숫자를 입력하세요: ')

a = int(input())
b = int(input())

if a>b:
    a,b = b,a

sum = 0

for i in range(a,b+1):

    if i < b:
        print(f'{i}+',end='')
    else:
        print(f'{i}=',end='')
    sum += i

print(sum)

숫자를 입력하세요:
3
9
3+4+5+6+7+8+9=42

위는 비효율적. else문은 단 한 번 실행되는데 for문이 돌 때 마다 실행돼. 대안을 알아보자:

In [ ]:
print('숫자를 입력하세요: ')

a = int(input())
b = int(input())

if a>b:
    a,b = b,a

sum = 0

for i in range(a,b+1):

    if i<b:
        print(f'{i}+',end='')
    sum += i

print(f'{b}=',end='')
print(sum)

숫자를 입력하세요:
3
9
3+4+5+6+7+8+9=42

In [ ]:
# 두 값 교환

a=32
b=64

t=a
a=b
b=t

print(a,b)

64 32

#### 홀수인가, 짝수인가

In [9]:
print('홀수와 짝수를 판별해보자')

N = int(input('출력 개수 입력: '))

for i in range(1,N+1):

    if i%2 ==0:
        print('짝수 ',end='')
    else:
        print('홀수 ',end='')

홀수와 짝수를 판별해보자
출력 개수 입력: 9
홀수 짝수 홀수 짝수 홀수 짝수 홀수 짝수 홀수

In [11]:
# 연산량 줄이기! 

print('홀수와 짝수를 판별해보자')

N = int(input('출력 개수 입력: '))

for i in range(N//2):
        print('홀수 짝수 ',end='')
if N%2:
    print('홀수 ',end='')

홀수와 짝수를 판별해보자
출력 개수 입력: 9
홀수 짝수 홀수 짝수 홀수 짝수 홀수 짝수 홀수

#### 공포의 * 출력!

In [12]:
n=int(input('몇 개 입력?'))
changing_lines = int(input('몇 개마다 줄 바꿈?'))

for i in range(n):
    print('*',end='')

    if i % changing_lines == changing_lines - 1:
        print()

if n % changing_lines:
    print()

몇 개 입력?14
몇 개마다 줄 바꿈?5
*****
*****
****

In [16]:
# 줄바꾸기 2

n=int(input('몇 개 입력?'))
changing_lines = int(input('몇 개마다 줄 바꿈?'))

for i in range(n//changing_lines):

    print('*'*changing_lines)

print('*'*(n%changing_lines))

몇 개 입력?14
몇 개마다 줄 바꿈?5
*****
*****
****

### 1.6.2 무한 루프 while과 긴급 탈출 break!

사실 긴급 탈출까진 아니고ㅋㅋ  

while을 사용하면 무한히 도는 루프를 만들 수 있다. 그런데 이 루프를 어떻게 빠져나갈 것인가? (1) while에 조건을 달거나, (2) break을 써서 빠져나가면 된다. 아래서 자세히 보자.

In [19]:
x = int(input('최대의 수를 써보시오.'))
count=1
while(count<x+1):
    print(count, end='')
    count += 1

최대의 수를 써보시오.9
123456789

In [22]:
x = int(input('최대의 수를 써보시오.'))

for count in range(1,x+1):
    print(count, end='')
    count += 1

최대의 수를 써보시오.9
123456789

#### 직사각형 넓이로부터 두 변의 길이 구하기

In [27]:
area = int(input('직사각형의 넓이를 입력하세요: '))

for i in range(1,area+1):

    if i**2 > area: break # magic code
    if area % i ==0:
        line1 = i
        
        line2 = area//line1

        if line1 > line2:
            print(f'긴 변:{line1} 짧은 변: {line2}')
        elif line1 == line2:
            print(f'정사각형. 한 변의 길이: {line1}')
        else:
            print(f'긴 변:{line2} 짧은 변: {line1}')

직사각형의 넓이를 입력하세요: 32
긴 변:32 짧은 변: 1
긴 변:16 짧은 변: 2
긴 변:8 짧은 변: 4

위의 매직 코드를 보라. 이것이 중요한 이유는 만약 이것이 없다면, 동일한 쌍의 두 변의 길이를 한번 더 구할 것이기 때문이다. 이것은 증가하는 인덱스 i가 정사각형 넓이로 계산되는 경우에, 우리가 입력한 Area 값보다 크지 않게 만들어준다.

### 1.6.3 스킵인가 패스인가  
  
반복문 내에서 특정 조건을 만족하는 경우 그것을 출력 또는 고려 하에 포함하지 않고 스킵~ 하는 경우가 있다. 이럴 땐 아래같이 코딩하라.

In [33]:
for i in range(10):

    if i%2==0: continue
    print(i ,end='')

13579

재밌는 또 다른 방법. 파이썬의 리스트 처리 덕분에 이런 것이 가능한 듯 하다.

In [37]:
# 7을 생략해보자!

n = int(input('무슨 수를 입력?'))

for i in list(range(1,7)) + list(range(8,n+1)):
    print(i,' ',end='')

무슨 수를 입력?12
1  2  3  4  5  6  8  9  10  11  12

### 1.6.4 다중 루프  
  
다중 루프는 루프문을 2 개 이상 사용하는 경우이다. 머리 아픈 경우인가? 흥미로운 경우인가? ㅎㅎㅎ  
  
하지만 이것을 사용하는 것에 주의하는게 좋다. 이것은 연산량을 폭발적으로 증가시키기 때문이다.

In [40]:
for i in range(1,10):
    for j in range(1,10):
        print(f'{i*j:3}',end='') # :3은 i와 j를 3 자리로 가지런히 출력하게 해줘. 신기..
    print()

  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81

#### *로 직각이등변삼각형 만들기!  
  
다중루프를 사용해서 구해보자!

In [43]:
N = int(input('짧은 변의 길이를 입력하라: '))

for i in range(N): # i가 하나씩 증가할 때마다 아래 j에서 출력하는 별의 개수가 늘어난다.
    for _ in range(i+1): #i는 0부터 시작하니까 1을 더해줘야 1부터 시작. 
        print('*',end='')
    print() # 행 변경

짧은 변의 길이를 입력하라: 7
*
**
***
****
*****
******
*******

위 삼각형과 좌우대칭인 삼각형을 출력해보자! 이것은 공백 출력을 고려해주면 된다.

In [52]:
N = int(input('짧은 변의 길이를 입력하라: '))

for i in range(N): 
    for _ in range(N-i-1): # -1을 해주지 않으면 1 만큼 x축으로 이동한 삼각형이 출력된다.
        print(' ',end='')
    for _ in range(i+1):
        print('*',end='')
    print()

짧은 변의 길이를 입력하라: 7
      *
     **
    ***
   ****
  *****
 ******
*******

## 1.7 ID  
  
변수는 값을 저장하는 것이 아니라 단순히 그 값에 대한 이름을 부착하는 것일 뿐이다.

동일 값 다른 아이디

In [59]:
def one(a,b):
    return 1

n=1
a = one(3,2)

print(f'n의 아이디: {id(n)}, a의 ID: {id(a)}')

n의 아이디: 10914496, a의 ID: 10914496

위는 전역변수 n이 객체 1을 지칭하고, 함수 내부의 지역변수에서 1을 지칭하는 값이 a라는 이름을 부착한 것이다. 둘다 동일한 ID를 갖고 있는 1을 지칭하고 있다. 여기서 말하고자 하는 것은 변수는 단지 값에 대한 **이름의 부착**이라는 것 뿐이다.