<a href="https://colab.research.google.com/github/musicjae/Algorithms/blob/master/Doit_algorithm/2_Data_Structure_and_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

이번 장에서는 기본적인 자료구조와 배열에 대해 공부한다.

# 1. 개념 정리

- **배열을 사용할 때 얻는 이점**  
  
  - 배열 내의 특정 수(또는 data) 변경/확인  
  - min, max 구하기 편하다  
  - 정렬

- **자료구조란?**  
  
> 데이터 단위와 데이터 자체 간의 물리적, 논리적 관계를 가진 구조

- **등가성Equality vs 동일성Identity**  
  
 - 등가성: 두 객체의 값이 동일  
 - 동일성: 두 객체의 값,ID 모두 동일

- **Mutables vs Immutables**  
  
 - Mutable data: list, dic, set  
 - Immutable data: Number, String, Tuple

- **파이썬에서 = 는 연산자가 아니다. 반면에, +, - 등은 연산자이다.**  
  
    - 연산자 미포함 문장: Expresstion(문장)  
    - 연산자 포함 문장: Statement(식)

In [ ]:
x=0
type(x+2)

int

In [ ]:
type(x=1) # 아래 같이 오류가 발생한다. 그 이유는 이것은 Expression이기 때문이다.

TypeError: ignored

- **Iterable(반복자)**  

    - 문자열,튜플,집합,딕셔너리 모두 반복 가능하다는 공통점이 있다. 이들은 모두 원소를 하나씩 꺼내는 구조이다.

## 1.1 List와 Tuple로 만드는 Array  
  
파이썬에서 배열은 리스트와 튜플로 만들 수 있다. 아래는 이들에 대한 예이다.

In [ ]:
lista=[]
listb=[1,2]
listc=list()
listd=list(range(5))

print(type(lista),type(listb),type(listc),type(listd))

<class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [ ]:
tuplea=()
tupleb=1, # comma를 넣어주는 것이 중요! 이것이 그냥 정수임과 튜플임을 구분해줘
tuplec=(1,)
tupled=1,2,3 # 이것도 튜플임에 주목!

print(type(tuplea),type(tupleb),type(tuplec),type(tupled))

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

## 1.2 Unpack  
  
리스트와 튜플로 쌓인 데이터들을 풀어내는unpack 방법에 대해 공부해보자. 이것은 우리가 특정 값만을 고려하고자 할 때, 출력하고자 할 때 요구되는 기법이다.

In [ ]:
lista = [1,2,3]

a,b,c=lista
print(a,b,c) # 매우 흔히 사용된다.

1 2 3

In [ ]:
a = lista[0]
b= lista[1]
c = lista[2]

print(a,b,c) # 머신러닝에서 많이 사용되는 기법 다른 데서도 많이 사용됨

1 2 3

슬라이스

In [ ]:
listb=list(range(7))
a = listb[2:5] # 슬라이싱
b = listb[1:6:2] # 2칸씩 건너뛰기 

print(listb)
print(a) 
print(b)

[0, 1, 2, 3, 4, 5, 6]
[2, 3, 4]
[1, 3, 5]

슬라이스 식 심화

In [ ]:
s=listb

skip=s[::2] # 리스트 원소 중 맨 앞부터 2 씩 건너뜀
rev=s[::-1] # 맨 뒤부터 역순 출력

print(skip)
print(rev)

[0, 2, 4, 6]
[6, 5, 4, 3, 2, 1, 0]

# 2 배열

## 2.1 max

In [ ]:
def get_max(x):

    maximum = x[0]

    for i in range(0,len(x)):
        if x[i] > maximum:

            maximum = x[i]

    return maximum

if __name__ == '__main__':

    print('배열 원소 중 최댓값 구하기')
    num = int(input())
    lista = list(range(num)) # 초기화 작업. 책에서는 [None]*num으로 초기화

    get_maxv = get_max(lista)
    print(get_maxv)

배열 원소 중 최댓값 구하기
78
77

## 2.2 Literal(고정된 값)에 대하여

In [ ]:
a=[1,2,3]
b=[1,2,3]

print(a is b)

False

위 출력 결과와 같이 이들은 동일한 데이터를 리스트 내에 포함하고 있지만 is 관계에 있지 않다. 그 이유는 이들은 Literal이 아니기 때문이다. 반면에, 아래는 다른 결과를 보여준다.

In [ ]:
a = [1,2]
b=a

print(a is b)

True

아래는 신기한 결과가 도출된다.

In [ ]:
a= a.append(3)
print(b)

[1, 2, 3]

위에서 분명 a에 리스트 원소를 첨가했는데, b에서도 그 원소가 첨가되었다. 이유는 단순하다. 변수 'a'와 변수 'b'는 **동일한** 리스트를 **참조**하고 있기 때문이다.

## 2.3 Practices

### 배열 역순 정렬

- 원소 간 교환 횟수: $\frac{원소 개수}{2}$의 정수 몫  
    - 원소가 홀수면 가운데에 있는 수는 교환을 안해도 되니까 위 식은 valid  
      
- tip:  
    - Left $\to$: Use $i$. (e.g. 0, 1, ...)  
    - <-- Right: Use $n-i-1$ (e.g. 6,5,4, ...)